.container{
    position: relative;
}

.container .flex{
    display: flex;
    justify-content: space-between;

}

.container .rightBar{
    width: 340px;
}

.newsGap{
    width: 635px;
    min-width: 635px;
    background: white;
    height: 30009px;
}
