.writing{
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    left: 0;
    min-height: calc(100VH - 60px);
}

.editor{
    width: 635px;
    min-width: 635px;
    font-size: 17px;
}

.editor .title{
    width: 635px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    font-size: 40px;
    font-weight: bold;
    resize: none;
    color: black;
}

.editor .title::placeholder{
    color: rgba(0, 0, 0, 0.144);
}